{% extends "admin/base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>CTFd Whale</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.endpoint == 'ctfd-whale.admin_list_configs' }}" 
                           href="/plugins/ctfd-whale/admin/settings">
                            <i class="fas fa-cog"></i> Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.endpoint == 'ctfd-whale.admin_list_containers' }}" 
                           href="/plugins/ctfd-whale/admin/containers">
                            <i class="fas fa-server"></i> Instances
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.endpoint == 'ctfd-whale.admin_list_cheating' }}" 
                           href="/plugins/ctfd-whale/admin/cheating">
                            <i class="fas fa-shield-alt text-danger"></i> Cheating Detection
                        </a>
                    </li>
                    {% block menu %}
                    {% endblock %}
                </ul>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    {% block panel %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}