{% extends "whale_base.html" %}

{% block panel %}
    {% include "components/errors.html" %}
    
    <ul class="nav nav-pills nav-fill mb-4">
        <li class="nav-item">
            <a class="nav-link active" id="docker-tab" data-bs-toggle="tab" data-toggle="tab" href="#docker" role="tab">Docker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="router-tab" data-bs-toggle="tab" data-toggle="tab" href="#router" role="tab">Router</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="limits-tab" data-bs-toggle="tab" data-toggle="tab" href="#limits" role="tab">Limits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="challenges-tab" data-bs-toggle="tab" data-toggle="tab" href="#challenges" role="tab">Challenges</a>
        </li>
    </ul>

    <form method="POST" accept-charset="utf-8" action="/admin/plugins/ctfd-whale" class="form-horizontal" id="whale-config-form">
        <div class="tab-content">
            {% include "config/docker.config.html" %}
            {% include "config/base.router.config.html" %}
            {% include "config/limits.config.html" %}
            {% include "config/challenges.config.html" %}
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script defer src="{{ url_for('plugins.ctfd-whale.assets', path='config.js') }}"></script>
{% endblock %}